<form [formGroup]="userForm" (submit)="submitForm()" class="form-container">
    <!-- Name Input -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
      @if(userForm.get('name')?.hasError('required') && userForm.get('name')?.touched){
        <mat-error>Username needs to be at least 5 characters.</mat-error>
      }
    </mat-form-field>
  
    <!-- Address Input -->
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required>
      @if(userForm.get('address')?.hasError('required') && userForm.get('address')?.touched){
        <mat-error>Address needs to be at least 5 characters.</mat-error>
      }
    </mat-form-field>
  
    <!-- Delivery Method -->
    <div class="delivery-method">
      <mat-label>Delivery Method:</mat-label>
      <mat-radio-group formControlName="deliveryType">
        <mat-radio-button value="delivery">Delivery</mat-radio-button>
        <mat-radio-button value="pickup">Pickup</mat-radio-button>
      </mat-radio-group>
      @if(userForm.get('deliveryType')?.hasError('required') && userForm.get('deliveryType')?.touched){
        <mat-error>Please select an option.</mat-error>
      }
    </div>
  
    <!-- Submit Button -->
    <button mat-flat-button 
            color="primary" 
            type="submit" 
            [disabled]="invalid()"
            class="submit-button">
      Check out!
    </button>
  
    <!-- Cart Table -->
    @if(cart.length > 0){
      <mat-table [dataSource]="cart" class="cart-table">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
        </ng-container>
  
        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.quantity}}</mat-cell>
        </ng-container>
  
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
          <mat-cell *matCellDef="let item">{{item.quantity * item.price | currency}}</mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="['name', 'quantity', 'price']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'quantity', 'price']"></mat-row>
    </mat-table>
    <!-- Total -->
    <div class="total-cost">
      <h3>Total: {{totalCost() | currency}}</h3>
    </div>
  
    }
  </form>